
.main{
  border:1px solid;
  height: 800px;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start:hover {
  background-color: #3e8e41;
}
.main h1{
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin-right: 20px;
}
.start{
  width : 10%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  font-weight:bold;
}


