<div class="container">
  <h1>Update Exercise </h1>
  <form action="" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required [(ngModel)]="name">
    <label for="category">Category</label>
    <input type="text" id="category" name="category" required [(ngModel)]="category">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" required [(ngModel)]="description">
    <label for="url">Image url</label>
    <input type="text" id="url" name="Image url" required [(ngModel)]="url">
    <button (click)="update()">Update</button>
  </form>
</div>
s
